body {
    margin: 0;
    padding: 20px;
    font-family: Helvetica, Helvetica, monospace;
    font-size: 62.5%;
    }    
table {
    border-collapse: collapse;
    align-items: left;
    /*color: darkblue;*/
    }
th {
        background-color: #4CAF50;
        color: white;
        align-content: center;
        align-items: left;
        margin-right: 10px;
        height: 20px;
      }

td {
    border-bottom: 1px solid mediumblue;
    padding: 5px;
    align-content: left;
    align-items: left;
    vertical-align: center;
    color: darkblue;
    height: 20px;
    }
tr {
    background: #fff7cc;
    align-content: left;
    align-items: left;
    color: darkblue;
    font-family: Helvetica, Helvetica, monospace;
}       
caption {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: none;
    padding: 6px 16px;
    font-weight: bold;
    font-family: Helvetica, Helvetica, monospace;
    align-content: left;
    align-items: left;
    }