<!DOCTYPE html>

<style>
    input{
  color: darkblue;
  background-color: #f1f1f1;
  border: 1px;
  padding: 12px 28px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  font: "Verdana";
  margin-left: 50px;
  margin-right: 50px
}
</style>

<html>

<body>
<div class="container">
    <h2>holi</h2>
    <form action="" method="post">{% csrf_token %}
            {{ form.common_name.label}}
            {{ form.common_name}}
            <input type="submit" value="Submit" />
    </form>
</div>
</body>